.navbar-default {
	/*background-color: #ebebeb;*/
	background-color: #5597CF;
	border-color: #3094e4;
}
.navbar-default .navbar-brand {
	/*color: #3094e4;*/
	color: #FFFFFF;
	
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	/*color: #ebebeb;*/
	color: #FFFFFF;
}
.navbar-default .navbar-text {
	/*color: #3094e4;*/
	color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a {
	/*color: #3094e4;*/
	color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	/*color: #ebebeb;*/
	color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	/*color: #ebebeb;*/
	/*background-color: #3094e4;*/
	color: #FFFFFF;
	background-color: #FFFFFF;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	/*color: #ebebeb;*/
	/*background-color: #3094e4;*/
	color: #FFFFFF;
	background-color: #FFFFFF;
}
.navbar-default .navbar-toggle {
	/*border-color: #3094e4;*/
	border-color: #FFFFFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	/*background-color: #3094e4;*/
	background-color: #FFFFFF;
}
.navbar-default .navbar-toggle .icon-bar {
	/*background-color: #3094e4;*/
	background-color: #FFFFFF;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	/*border-color: #3094e4;*/
	border-color: #FFFFFF;
}
.navbar-default .navbar-link {
	/*color: #3094e4;*/
	color: #FFFFFF;
}
.navbar-default .navbar-link:hover {
	/*color: #ebebeb;*/
	color: #FFFFFF;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		/*color: #3094e4;*/
		color: #FFFFFF;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		/*color: #ebebeb;*/
		color: #FFFFFF;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		/*color: #ebebeb;*/
		color: #FFFFFF;
		/*background-color: #3094e4;*/
		background-color: #FFFFFF;
	}
}